<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lifeweb</display-name>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>lifeweb.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberJoinServlet</display-name>
    <servlet-name>MemberJoinServlet</servlet-name>
    <servlet-class>kr.co.java.controller.MemberJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberJoinServlet</servlet-name>
    <url-pattern>/MemberJoinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberJoinServlet1</display-name>
    <servlet-name>MemberJoinServlet1</servlet-name>
    <servlet-class>kr.co.java.controller.MemberJoinServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberJoinServlet1</servlet-name>
    <url-pattern>/MemberJoinServlet1</url-pattern>
    <url-pattern>/MemberJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberListServlet_이상민</display-name>
    <servlet-name>MemberListServlet_이상민</servlet-name>
    <servlet-class>kr.co.java.controller.MemberListServlet_이상민</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet_이상민</servlet-name>
    <url-pattern>/MemberListServlet_이상민</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberListServlet</display-name>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>kr.co.java.controller.MemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/MemberListServlet</url-pattern>
    <url-pattern>/memberList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDeleteServlet</display-name>
    <servlet-name>MemberDeleteServlet</servlet-name>
    <servlet-class>kr.co.java.controller.MemberDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDeleteServlet</servlet-name>
    <url-pattern>/memberDel</url-pattern>
  </servlet-mapping>
</web-app>